<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TheWay1._0.Properties.Settings.TestStorageImageConnectionString"
            connectionString="Data Source=SA2WKS0265\SQLEXPRESS;Initial Catalog=TestStorageImage;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TheWay1._0.Properties.Settings.HistoryOfTheTrueConnectionString"
            connectionString="Data Source=SA2WKS0265\SQLEXPRESS;Initial Catalog=HistoryOfTheTrue;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TheWay1._0.Properties.Settings.TheWayConnectionString"
            connectionString="Data Source=SA2WKS0265\SQLEXPRESS;Initial Catalog=TheWay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TheWay1._0.Properties.Settings.TheWayConnectionString1"
            connectionString="Data Source=DESKTOP-C03A2E6\SQLEXPRESS;Initial Catalog=TheWay;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TheWay1._0.Properties.Settings.TheWay2ConnectionString"
            connectionString="Data Source=DESKTOP-C03A2E6\SQLEXPRESS;Initial Catalog=TheWay2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>